body{
    font-weight: bold !important;
    margin: auto !important;
    /* color: #424949 !important; */
}



.img-in-head{
    height: 40px;
    width:auto;
}

.non-styled-hr{
    padding: .5px;
    margin: 16px;
    color: black;
    border-top: black;
    opacity: .7;
}

.comments-inline{
    padding-left: 15px;
}